*
{
    background-color: lightgray;
    font-family: sans-serif;
}

.h1-2
{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%; 
}

.top-header
{
    width:100%;
    height: 30px;
    background: #7EAFBC;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}


.calendar-container h1, p
{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.calendar-container table
{
    text-align: center;
    border: 5px solid #08566a;
    border-collapse: collapse;
    table-layout: fixed;
    width: auto;
    margin-left: 40%;
    margin-right: auto;
    border-spacing: 50px;
}

.calendar-container th
{
    border: 5px solid #0f0e0e;
    border-width: 5px;
    padding: 5px;
    text-align: center;
    width: 40px; 
    height: 40px;

}



.calendar-container td
{
    border: 2px solid  #08566a;
    border-width: 5px;
    padding: 5px;
    text-align: center;
    width: 50px; 
    height: 50px; 
}

.calendar-container table thead tr:first-child th
 {
    border: 5px solid black;
    background-color: #7EAFBC;
    padding: 5px;
    text-align: center;
    border-bottom: none;
} 
.calendar-container td:hover {
    background-color: #08566a;
}

