*
{
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1
{
    text-align: left;
    color: #08566a;
    font-size: xx-large;
}

h2
{
    text-align: left;
    color: #08566a;
    font-size: medium;
    margin-top: 50px;
}

p
{
    font-size: medium;
    margin-bottom: 50px;
}

th
{
    color: #08566a
}

.calendar-container h1, p
{
    text-align: center;
    margin-left: 17%;
    margin-right: auto;
    margin-bottom: 5%;
}

.calendar-container table
{
    text-align: center;
    border: 5px solid #08566a;
    border-collapse: collapse;
    table-layout: fixed;
    width: auto;
    margin-left: 40%;
    margin-right: auto;
    border-spacing: 50px;
}

.calendar-container th
{
    border: 5px solid #0f0e0e;
    border-width: 5px;
    padding: 5px;
    text-align: center;
    width: 40px; 
    height: 40px;

}

.calendar-container td
{
    border: 2px solid  #08566a;
    border-width: 5px;
    padding: 5px;
    text-align: center;
    width: 50px; 
    height: 50px; 
}

.calendar-container td:hover {
    background-color: #08566a;
}

