<!DOCTYPE html> 
<html> 

<head>
    <link rel="stylesheet" href="calender.css">
    <title> Pepsilepsi kalender</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <table align="center" cellspacing="21" cellpadding="21">
        <h1> Calender </h1>
        <p> This is your calender</p>
        
        <caption align="top"> 
           
        </caption> 
  
        <thead> 
            <tr>
                <th colspan="7" style="text-align: center;">Calendar</th>
            </tr>
            <tr> 
                
                <th>Sun</th> 
                <th>Mon</th> 
                <th>Tue</th> 
                <th>Wed</th> 
                <th>Thu</th> 
                <th>Fri</th> 
                <th>sat</th> 
            </tr> 
        </thead> 
          
        <tbody> 
            <tr> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td>1</td> 
                <td>2</td> 
            </tr> 
            <tr></tr> 
            <tr> 
                <td>3</td> 
                <td>4</td> 
                <td>5</td> 
                <td>6</td> 
                <td>7</td> 
                <td>8</td> 
                <td>9</td> 
            </tr> 
            <tr> 
                <td>10</td> 
                <td>11</td> 
                <td>12</td> 
                <td>13</td> 
                <td>14</td> 
                <td>15</td> 
                <td>16</td> 
            </tr> 
            <tr> 
                <td>17</td> 
                <td>18</td> 
                <td>19</td> 
                <td>20</td> 
                <td>21</td> 
                <td>22</td> 
                <td>23</td> 
            </tr> 
               