<!DOCTYPE html>

<html lang="en">
<head>
    <title>Medicin</title>
    <link rel="stylesheet" href="medicin.css">
<head>
    <body>
        <div>
            <h2>Name of medicin</h2>
            <p>Please state the name of your medication:</p>
            <form action="/navnmedicin" method="post">
                <input type="text" class="submed">
                <input type="submit" value="Submit medication" class="alarmbutton">
            </form>
        </div>
        <div>
            <h2>Medicin list</h2>
            <ul>
                {% for row in medicin_list} <!--loop over rows in medicin list (rows in medicin table in database)-->
                    <li>{{row["name"]}}</li> <!--in this html, what do i want to show? A list of the names of medicin-->
                {% endfor %}
            </ul>
        </div>
    </body>