/* Hele siden */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* baggrund*/
.header
{
    width: 100%;
    height: 100vh;
    background: #F7FAFA;

}

/* Navigations menu */
.side-nav
{
    width:250px;
    height: 100%;
    background: #DDE9EC;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

/* Blå linje i toppen */
.top-header
{
    width:100%;
    height: 30px;
    background: #7EAFBC;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

/* Logo placering */
.logo
{
    display: block;
    margin-bottom: 0px;
    padding: 20px 5px;
    bottom: 0;
    margin-top: 25px;
}

/* Logo størrelse */
.logo-img
{
    width: 175px;
}

/* Navigations link position */
.nav-links
{
    list-style: none;
    position: relative;
    margin-top: 50px;

}

/* Navigations link egenskaber */
.nav-links li a
{
    display: block;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
    border: 1px solid #BAD5DD; /* Add a border around each menu item */
    padding: 20px;
    text-align: center;
}

/* Navigations link hover */
.nav-links li a:hover
{
    background-color: #BAD5DD;
    transition: 0.07s;
}

/* Aktivt Navigations link */
.nav-links li a.active
{
    background-color: #BAD5DD;
}

/* Plcaering og størrelse af profil billede */
.profile img
{
	display: block;
    width: 175px;
	height: 175px;
    border-radius: 50%;
	margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

/* Navn på bruger egenskaber */
h3
{
    color: #08566A;
    margin-top: 10px;
    text-align: center;
    font-size: medium;
}

/* bruger mail egenskaber */
p
{
    margin-top: 10px;
    text-align: center;
    font-size: small;
}