<!DOCTYPE html>
<html lang="en">
<head>
    <title>Side navigationbar</title>
    <link rel="stylesheet" href="sidebar.css">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
</head>
<body>
    <!--Den blå kasse/linje i toppen-->
    <div class="top-header-nav">
        <a href="#" class="logo-top-header"> <!--linke til landingpage-->
            <img src="images/newlogo.png" class="logo-img-top-header"> 
         </a>
     </div>
    <div class="header"> <!--Baggrunden-->
        <!--Navigation menu-->
        <nav class="side-nav"> <!--Indhold på menu-->
            <!--Profil info-->
            <div class="profile"> 
                <img src="images/lars.png" class="profile-img">
                <h3>Lars Larsen</h3>
                <p>lars.larsen@gmail.com</p>
            </div>
            <!--Menu punkter-->
            <ul class="nav-links"> <!--Erstat # med url, for at like til de specifikke sider. -->
                <li><a href="#" onclick="changeColor(this)"><p>Overview</p></a></li> <!-- <li> (list item) element is used to define items in a list (unordered list <ul>), and the <a> (anchor) element is used to create hyperlinks. -->
                <li><a href="#" onclick="changeColor(this)"><p>Symptoms</p></a></li>
                <li><a href="#" onclick="changeColor(this)"><p>Seizures</p></a></li>
                <li><a href="#" onclick="changeColor(this)"><p>Medicin Alarm</p></a></li>
                <li><a href="#" onclick="changeColor(this)"><p>Calender</p></a></li>
            </ul>
        </nav>
    </div>
    <script>
        function changeColor(element) {
            // Fjern 'active' class fra alle links
            var links = document.querySelectorAll('.nav-links li a');
            links.forEach(function(link) {
                link.classList.remove('active');
            });
    
            // Tilføj 'active' class til det link som brugeren har klikket på
            element.classList.add('active');
        }
    </script>
</body>
</html>