<!DOCTYPE html>
<html lang="en">
<head>
    <title>Side navigationbar</title>
    <link rel="stylesheet" href="sidebar.css">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
</head>
<body>
    <div class="header">
        <div class="side-nav">
            <ul class="nav-links">
                <li><a href="#"><p>Symptoms</p></a></li>
                <li><a href="#"><p>Seizures</p></a></li>
                <li><a href="#"><p>Medicin Alarm</p></a></li>
                <li><a href="#"><p>Calender</p></a></li>

            </ul>
            <a href="#" class="logo">
                <img src="images/pepsilepsilogo.png" class="logo-img">
            </a>
        </div>
    <div class="top-header"></div>

    </div>

</body>
</html>