<!DOCTYPE html>

<html lang="en">
    <head>
        <title>symptoms</title>
        <link rel="stylesheet" href="symptoms.css">
        <link rel="stylesheet" href="sidebar.css">
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    </head>

    <body>
        <iframe src="sidebar.html" width="250" height="100%" style="position: fixed; top: 0; left: 0; border: none;"></iframe>
        <table>
            <h1>Track Symptoms</h1>
            <h2>MOOD</h2>
            <div>
                <table>
                    <tr>
                        <td>
                            <div><button class="trackbutton">😄</button></div>
                            <div class="buttontext">Very Happy</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😊</button></div>
                            <div class="buttontext">Happy</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🙂</button></div>
                            <div class="buttontext">Content</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😔</button></div>
                            <div class="buttontext">Sad</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😵‍💫</button></div>
                            <div class="buttontext">Disoriented</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🤯</button></div>
                            <div class="buttontext">Overwhelmed</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😡</button></div>
                            <div class="buttontext">Frustrated</div>
                        </td>
                    </tr>
                </table>
            </div>
            <h2>SLEEP</h2>
            <div>
                <table>
                    <tr>
                        <td>
                            <div><button class="trackbutton">> 8</button></div>
                            <div class="buttontext">Eight hours or more</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">7</button></div>
                            <div class="buttontext">Seven hours</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">6</button></div>
                            <div class="buttontext">Six hours</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">5</button></div>
                            <div class="buttontext">Five hours</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">4 <</button></div>
                            <div class="buttontext">Four hours or less</div>
                        </td>
                    </tr>
                </table>
            </div>
            <h2>FATIGUE</h2>
            <div>
                <table>
                    <tr>
                        <td>
                            <div><button class="trackbutton">🤩</button></div>
                            <div class="buttontext">Energetic</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🤗</button></div>
                            <div class="buttontext">Content</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😊</button></div>
                            <div class="buttontext">Mild Fatigue</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😐</button></div>
                            <div class="buttontext">Moderate Fatigue</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🥱</button></div>
                            <div class="buttontext">Severe Fatigue</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">😴</button></div>
                            <div class="buttontext">Exhausted</div>
                        </td>
                    </tr>
                </table>
            </div>
            <h2>STRESS LEVEL</h2>
            <div>
                <table>
                    <tr>
                        <td>
                            <div><button class="trackbutton">🟢</button></div>
                            <div class="buttontext">Mild</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🟡</button></div>
                            <div class="buttontext">Moderate</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🟠</button></div>
                            <div class="buttontext">Severe</div>
                        </td>
                        <td>
                            <div><button class="trackbutton">🔴</button></div>
                            <div class="buttontext">Very severe</div>
                        </td>
                    </tr>
                </table>
            </div>
    </body>
</html>