h1
{
    text-align: left;
    color: #08566a;
    font-family: sans-serif;
    font-size: xx-large;
}

h2
{
    text-align: left;
    color: #08566a;
    font-family: sans-serif;
    font-size: medium;
    margin-top: 50px;
}

p
{
    font-family: sans-serif;
    font-size: medium;
    margin-bottom: 50px;
}

/* Style for the date label text */
label
{
    font-size: medium;
    color: #08566a;
    font-weight: bold; /* Add this line to make the text bold */
    text-transform: uppercase; /* Add this line to make the text uppercase */
    margin-right: 20px; 
}

/* Add styling for the date input */
label input[type="date"]
{
    padding: 4px;
    border: 1px solid #08566a;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 14px;
}

/* Add styling for time input */
label input[type="time"]
{
    padding: 3px;
    border: 1px solid #08566a;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.trackbutton
{
    border: 1px solid #08566a;
    border-radius: 5px;
    min-height: 80px;
    min-width: 120px;
    font-size: xx-large;
    margin-right: 8px;
    margin-left: 8px;
    background-color:#DDE9EC;
    color: #08566a;

}

.trackbutton:hover 
{
    background-color:#7EAFBC;
    transition: 0.07s;
}

.buttontext
{
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
    font-size: small;
}