/*Hele siden*/
*
{
    background-color: #F7FAFA;
    font-family: sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

table
{
    margin-left: 300px;
}

h1
{
    text-align: left;
    color: #08566a;
    font-size: xx-large;
    margin-left: 300px;
    margin-top: 75px;
}

/*Alle underoverskrifter h2*/
h2
{
    text-align: left;
    color: #08566a;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 300px;
}

/*Alt brødtekst*/
p
{
    font-size: medium;
    margin-bottom: 50px;
    margin-left: 300px;
    text-align: left;
}

/*Dato blokken*/
label
{
    font-size: 16px;
    color: #08566a;
    font-weight: bold; /* Add this line to make the text bold */
    margin-right: 6px;
    margin-left: 300px;
}

/* Add styling for the input- JUlIE HJÆLP */

input
{
    padding: 4px;
    border: 1px solid #08566a;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 10px;
}

/* Add styling for date input - JULIE HJÆLP*/
#date
{
    padding: 3px;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 20px;
}

/*JULIE HJÆLP (beskriv hvad der ændres i her)*/
#start,
#stop
{
    padding: 3px;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 8px;
}

/*Alle trackingknapper i symptoms og seizures*/
.trackbutton
{
    border: 1px solid #08566a;
    border-radius: 5px;
    min-height: 80px;
    min-width: 120px;
    font-size: xx-large;
    margin-right: 8px;
    margin-left: 8px;
    background-color:#DDE9EC;
    color: #08566a;

}

/*trackingknap farveskift når musen rører*/
.trackbutton:hover
{
    background-color:#7EAFBC;
    transition: 0.07s;
}

/*Beskrivelse under trackingknapper*/
.buttontext
{
    margin-top: 10px;
    text-align: center;
    font-size: small;
}

/*Tilføj til kalenderknap*/
#Addtocalenderbutton
{
    padding: 5px;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 300px;
    color: #08566a;
    font-weight: bold;
}

/*Kalenderknap farveskift når musen rører*/
#Addtocalenderbutton:hover
{
    background-color:#DDE9EC;
    transition: 0.07s; 
}

/* Blå linje i toppen */
.top-header
{
    width:100%;
    height: 60px;
    background: #7EAFBC;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}


