<!DOCTYPE html>

<html lang="en">
    <head>
        <title>pepsilepsi</title>
        <link rel="stylesheet" href="symptoms.css">
    </head>
    <body>
        <h1>Track Symptoms</h1>
        <p>Please track your daily epilepsy symptoms below. Click on the one that fits you the most right now</p>
        <h2>MOOD</h2>
        <button class="trackbutton">🥳</button>
        <button class="trackbutton">😄</button>
        <button class="trackbutton">🙂</button>
        <button class="trackbutton">😕</button>
        <button class="trackbutton">😓</button>
        <button class="trackbutton">😡</button>
        <button class="trackbutton">🤯</button>

        <h2>SLEEP</h2>
        <button class="trackbutton">>8</button>
        <button class="trackbutton">7</button>
        <button class="trackbutton">6</button>
        <button class="trackbutton">5</button>
        <button class="trackbutton">4</button>
        <button class="trackbutton">3</button>
        <button class="trackbutton">2</button>

        <h2>FATIGUE</h2>
        <button class="trackbutton">🤩</button>
        <button class="trackbutton">🤗</button>
        <button class="trackbutton">😊</button>
        <button class="trackbutton">😐</button>
        <button class="trackbutton">🥱</button>
        <button class="trackbutton">😴</button>
        <button class="trackbutton">😵</button>

        <h2>STRESS LEVEL</h2>
        <button class="trackbutton" style="background-color: #516B1B;"></button> <!--Hvis tid, lave ny class og få hover farve til at virker-->
        <button class="trackbutton" style="background-color: #A4BA75;"></button>
        <button class="trackbutton" style="background-color: #F2DD28;"></button>
        <button class="trackbutton" style="background-color: #DE834F;"></button>
        <button class="trackbutton" style="background-color: #DE584F"></button>

    </body>
</html>